<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yuwei35kd.springmultidatasource.mapper.UserMapper">
	<select id="findUsers" resultType="java.util.HashMap">
		select * from user1;
	</select>
	
	<delete id="clearInit">
		delete from user1 where user_id = 1;
	</delete>
	
	<insert id="create">
		insert into user1 values(#{userId},#{name});
	</insert>
	
	<insert id="badCreate">
		insert into user1 values(#{id},#{name});
	</insert>
</mapper>